<a href="https://colab.research.google.com/github/ji-hun-choi/Baekjoon/blob/main/iTStudy/0315_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%882.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0314 복습
#### 1, 2. 다음 코드과 같은 결과를 출력해보세요.
```
안녕하세요.
좋은		아침입니다.
````

In [1]:
print('안녕하세요.\n좋은\t\t아침입니다.')

안녕하세요.
좋은		아침입니다.

Jjang-gu's Home

In [2]:
print('Jjang-gu\'s Home')

Jjang-gu's Home

3. 아래의 코드 실행결과를 예상해보시고, 그대로 출력해보세요. 

~~~
a = "15"
b = "20"
print(a + b)
~~~

In [3]:
print("1520")
a = "15"
b = "20"
print(a + b)

1520
1520

4. 아래 코드의 실행 결과를 예상해보시고, 출력 후 결과를 확인해주세요.

~~~
 print("Hello" * 3)
 ~~~

In [4]:
print('HelloHelloHello')
print("Hello" * 3)

HelloHelloHello
HelloHelloHello

### 5. 5/10의 결과를 화면에 출력하세요.

In [5]:
5/10

0.5

5-1. 변수 a에는 'Life is'라는 문자열, b에는 42라는 숫자를 바인딩하시고, 아래처럼 출력해주세요.
```
Life is 42! 
```

In [6]:
a = 'Life is'
b = 42
print(a+' '+str(b)+'!')

Life is 42!

5-2. 위에서 만든 변수 a, b의 타입을 확인하는 함수를 이용하여 각각의 타입을 확인해주세요.

In [7]:
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

5-3. 변수 b를 str타입으로 변경하시고, 다시 한 번 b의 타입을 확인해주세요.

In [8]:
b =str(b)

In [9]:
type(b)

str

6. month라는 변수에 문자열 "2022.03"를 바인딩하신 후 실수(float)타입으로 변환해보세요.

In [10]:
month = "2022.03"
month = float(month)
type(month)

float

7. 동네 슈퍼에서 한 개에 1200원짜리 하리보젤리를 10개 사면 20%씩 할인해주고 있습니다. haribo라는 변수에 젤리 1개 가격을 넣어 10개를 샀을 때 지불해야 할 최종 금액을 계산해주세요.

In [11]:
haribo = 1200
print(int(haribo * 10 * 0.8))

9600

8. word라는 변수에 'Happy Birthday!'라는 문장을 넣으시고 H, p, day, !를 각각 출력해보세요.

In [12]:
word = "Happy Birthday!"

In [13]:
word[0]

'H'

In [14]:
word[2]

'p'

In [15]:
word[11:14] #word[-4:-1]역순

'day'

In [16]:
word[-1]

'!'

9. 위의 word 변수에 담긴 문자열을 거꾸로 뒤집은 순서로 출력하세요.

In [17]:
word = word[::-1]

In [18]:
word

'!yadhtriB yppaH'

- 리스트

1. 생각나는 뮤지션 5명(팀)을 myPlaylist라는 변수에 리스트로 저장후 출력해보세요.

In [19]:
myPlaylist= ['아무도', '모르는', '뮤지션', '팀5명','생각하자']

2. myPlaylist에 '블랙핑크'를 추가한 후 출력해주세요.

In [20]:
myPlaylist.append('블랙핑크')

3. myPlaylist의 2번과 3번 사이에 '더콰이엇'을 추가한 후 출력해주세요. (insert 메소드 사용)

In [21]:
myPlaylist.insert(3,'더콰이엇')

4. myPlaylist에 아래의 리스트를 합한 Favorites 라는 리스트를 만들어 출력하세요.

~~~
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']
~~~

In [22]:
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']

In [23]:
myPlaylist.extend(myPlaylist1)
print(myPlaylist)

['아무도', '모르는', '뮤지션', '더콰이엇', '팀5명', '생각하자', '블랙핑크', '세븐틴', 'EXO', 'NCT']

5. 위의 리스트에서 리스트 슬라이싱을 활용하여 홀수만 출력해보세요

In [24]:
myPlaylist[::2]

['아무도', '뮤지션', '팀5명', '블랙핑크', 'EXO']

6. 슬라이싱을 사용해서 리스트 myPlaylist의 숫자를 역순으로 출력해보세요.

In [25]:
myPlaylist=myPlaylist[::-1]

In [26]:
myPlaylist.reverse()

# 수업

## 매핑형 타입
- tuple, list 시퀀스형 타입이었다. 순서가 있고 그 순서에 정해진 인덱스를 바탕으로 자료를 꺼내오거나 삽입하거나 삭제하거나 수정하는 방식으로 동작
- 매핑형 타입은 key값으로 불러오는 dict가 대표적
- 해시 자료구조 라고 표현하기도 한다.


### 딕셔너리
- 형태를 다음과 같다.
'''{key:vlaue,key:vlaue,key:vlaue .....}'''
- key를 직접 정의할 수 있다.
    - 튜플이나 리스트와의 차이점(인덱스가 자동 생성x)
    - 반드시 숫자가 아니어도 괜찮음

In [27]:
# 빈 딕셔너리 만드는 법
dict1 = {}
type(dict1)

dict

In [28]:
dict1

{}

In [29]:
dict2 = {'key':'value'}
dict2

{'key': 'value'}

In [30]:
# 키가 존재하면 값을 업데이트
dict2 = {'key':'value2'}
dict2

{'key': 'value2'}

In [31]:
# 키가 존재하지 않으면 자동으로 값을 추가한다.
dict2['key1']='value3'
dict2

{'key': 'value2', 'key1': 'value3'}

In [32]:
del dict2['key1']

In [33]:
dict2

{'key': 'value2'}

In [34]:
# 에러 안나게 하는법
dict2.get('key3')

In [35]:
dict2.get('key3','없을 때 값')

'없을 때 값'

In [36]:
dict2['key2'] = 'R3'
dict2['key3'] = 'Ducati'
dict2['key4'] = 'BMW'

In [37]:
# 키값 확인
dict2.keys()

dict_keys(['key', 'key2', 'key3', 'key4'])

In [38]:
# values값 확인
dict2.values()

dict_values(['value2', 'R3', 'Ducati', 'BMW'])

In [39]:
# 키-값 을 한쌍으로 튜플로 확인하는 리스트를 얻는 경우
# 튜플로 출력이 되는 이유 = 키:값 들이 1:1로 묶여 있는 것은 고정이다.
dict2.items()

dict_items([('key', 'value2'), ('key2', 'R3'), ('key3', 'Ducati'), ('key4', 'BMW')])

In [40]:
myPlaylist= myPlaylist[:5]
myPlaylist

['아무도', '모르는', '뮤지션', '더콰이엇', '팀5명']

In [41]:
myPlaylist = {'rock':'오왠', 'balad':['아이유','폴킴'],'hiphop':['에픽하이','매드클라운']}
myPlaylist

{'balad': ['아이유', '폴킴'], 'hiphop': ['에픽하이', '매드클라운'], 'rock': '오왠'}

In [42]:
del myPlaylist['rock']
myPlaylist

{'balad': ['아이유', '폴킴'], 'hiphop': ['에픽하이', '매드클라운']}

### Set (집합)
- 순서가 없는 자료형이다.
- 중복이 안된다는 특징이 있다.

In [43]:
set1 = {1,3,5,6,7,8,9,12}
set2 = {2,4,6,10,14,16,19}
set3 = {'a','b','c','d','e','f'}

set1, set2, set3

({1, 3, 5, 6, 7, 8, 9, 12},
 {2, 4, 6, 10, 14, 16, 19},
 {'a', 'b', 'c', 'd', 'e', 'f'})

In [44]:
# 교집합 출력
set1 & set2
set1.intersection(set2)

{6}

In [45]:
# 합집합 출력
set1 | set2
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 19}

In [46]:
# 차집합 출력 기준set - 대조set
set1 - set2
set1.difference(set2)

{1, 3, 5, 7, 8, 9, 12}

In [47]:
#Quize
from random import *
number = list(range(1,46))
shuffle(number)
start_num = randint(0,38)
lotto = number[start_num:start_num+7]
lotto.sort()
print(lotto[:5],'3등입니다')
print(lotto[:6],'2등입니다')
print(lotto,'1등입니다')

[4, 6, 16, 17, 18] 3등입니다
[4, 6, 16, 17, 18, 30] 2등입니다
[4, 6, 16, 17, 18, 30, 38] 1등입니다

## 복사
- 얕은 복사, 깊은 복사가 있다.
    - 주소복사, 값 복사라고 표현하기도 한다.

In [48]:
arr = [10, 20, 30]
copy1 = arr

In [49]:
copy1

[10, 20, 30]

In [50]:
arr

[10, 20, 30]

In [51]:
hex(id(copy1)), hex(id(arr))

('0x7f783e0e1320', '0x7f783e0e1320')

### 얕은복사 / 주소복사
 - 변수 이름은 다르지만 결국 동일한 주로를 나타내는경우
 - 결국 두 변수는 같은 변수나 다름없다.
 - 메모리 값이 같은 이유다.
    - 공간 효율성, 메모리 효율성 때문.
    - 전체 값을 항상 메모리에 복사면 그만큼 속도가 느려지고 메모리도 공간이 부족하기 때문이다.
    - 주소를 복사해서 사용을 하는 얕은 복사를 파이썬은 기본 복사로 차용을 하고 있다.

In [52]:
a = 1
a = b

In [53]:
id(a), id(b)

(140154413835120, 140154413835120)

#### int, float, bool 값 자체가 복사가 됩니다.,
    시퀀스 타입은 전부 얕은 복수(메모리주소)가 복사되는게 기본이다.

- 슬라이싱 하면 값 제대로 바뀌고 원본도 보존되는 거 같은데 왜 얕은 복사일까?
- 차원을 하나 더 깊에 들어가면 여전히 메모리 주소를 복사하기 때문이다.

In [54]:
arr2D = ['Hello', 'Bye', 'Hi', ['Goodnight', 'Goodmorning', 'Goodafternoon']]

In [55]:
arr2Dcopy = arr2D

In [56]:
id(arr2Dcopy), id(arr2D)

(140154403107296, 140154403107296)

In [57]:
arr2Dcopy2 = arr2Dcopy[2:5]

In [58]:
id(arr2Dcopy2), id(arr2Dcopy), id(arr2D)

(140154413723072, 140154403107296, 140154403107296)

### 깊은복사
- 파이썬에서는 깊은 복사라는 다른 방법을 제공해서 시퀀스 타입의 깊이가 깊어질 때 메모리주소를 참조해서 원본을 훼손하는 일을 막고 있다.
- copy라는 모듈의 dedpcopyㅇ를 사용해야된다.

In [59]:
import copy

In [60]:
arr2Ddeep = copy.deepcopy(arr2D)

In [61]:
from copy import deepcopy
arr2Ddeep = deepcopy(arr2D)

In [62]:
id(arr2Ddeep), id(arr2D)

(140154413876880, 140154403107296)

In [63]:
arr2Ddeep= arr2D.copy()
id(arr2Ddeep), id(arr2D)

(140154402997744, 140154403107296)

### 실습1 🧪
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 된 배열 c, d를 얕은 복사를 이용해서 2개 생성하고 배열 c의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

In [64]:
from random import shuffle, sample
k = list(range(1,25))
shuffle(k)
a1 = sample(k, 6)
c = a1
d = a1
c[1] = 5
print(id(c), id(d))
print(a1)

140154413880976 140154413880976
[15, 5, 14, 21, 3, 6]

### 실습2 🧪
- 1 ~ 25까지의 정수 중 랜덤한 6개 숫자로 a, b를 deepcopy를 이용해서 2개 생성하고 배열 b의 1번 인덱스 값을 5로 각각 변경 후 출력해 보세요.

In [65]:
from random import shuffle, sample
from copy import deepcopy
k = list(range(1,25))
shuffle(k)
a1 = sample(k, 6)
a = deepcopy(a1)
b = deepcopy(a1)
b[1] = 5
print(id(a), id(b))
print(a1)

140154464537968 140154403145840
[18, 5, 6, 4, 22, 24]

## 제어문
- 대부분의 언어가 유사하다.
- 조건문, 반복문
- 위의 2가지로 전체 코드의 실행 흐름을 제어한다.

- 프로그래밍은 저 두개가 전분다. 두개를 어떻게 잘 섰고 어떻게 간략하게 만드냐가 알고리즘
- 연습을 많이 해야된다.


### 조건문(분기문)
- 파이썬은 if문 하나만 제공한다.
    - 쉽다. if문 하나만 있다.
    - 파이썬의 철학?
- if 명제:명령어들
- 명령어의 들여쓰기를 잘해야된다.
    - 들여쓰기가 다르면 다른 블록으로 인식한다.
    - 들여쓰기를 할 떄는 탭과 공백을 구분하기 때문에 반드시 탭 or 공백 하나만 선택해서 같은 크기만큼 들여쓰기 해야된다

In [66]:
arr = [1,2,3,4,5,6]

if 10 in arr:
    print("있다")
    print("잘했어")

if 10 not in arr:
    print("있다!!")
    print("잘했어!!")

있다!!
잘했어!!

In [67]:
if 10 in arr:
    # 빈 블록을 절대 허용하지 않는다
    # 블록 내에 반드시 무엇이라고 명령어를 채워 넣어야 한다
    # pass 채원넣으면 에러를 막을 수 있다.
    pass

In [68]:
if True :
    # 참일때
    pass
else: #False
    # 거짓일 때 출력할 실행문
    pass

In [69]:
# 사용자에게 직접 입력받는 함수
input('어깨를 돌리셨습니까? Y/N')

어깨를 돌리셨습니까? Y/NY

'Y'

### 실습 🧪
- 어깨를 돌리셨습니까 물어보고 Y이면 좋군요. N이면 '그렇군요'를 출력해주세요.

In [70]:
question = input('어깨를 돌리셨습니까? Y or N')
question = question.upper()

while(True):
    if question == "Y":
        print("좋군요")
        break
    elif question == "N":
        print("그렇군요")
        break
    else:
        question = input('Y or N 에서만 입력해주세요')
        question = question.upper()

어깨를 돌리셨습니까? Y or NY
좋군요

- if 블록이랑 else 블록 두개만 있는 떄는 한곳으로 반드시 분기가 되어야 한다
- True이거나 True가 ㅇ닌 모든 값 둘중에 하나 여야 한다

- 만약 그렇지 않다?
    - 참이면서 거짓인 명제가 있다 라는 말이다.
    - 두 블록이 실행이 안되는 경우
        - 참도 거짓도 아닌 경우 이런 경우도 잇을 수 없다
    - 2가지 조건만 존재할 수는 없는

    - and or not 으로 계속 뻗어나가는 생각의 줄기가 프로그래밍 분기문의 기본 원리가 되었다.

- 다중 조건문

```
if 조건1:
    조건1이 참일 때 실행문
elif 조건2:
    조건2가 참일 때 실행문
else:
    조건1도 2도 아닌 모든 상황에 실행문
```

### 주사워 게임 실습 🧪
- 두 사람이 주사위를 던져 높은 숫자가 나오면 이기는 게임을 작성한다
- 주사위 숫자는 input으로 받은 값을 a, b라는 변수에 넣어서 비교한다
- 이긴다, 진다, 비긴다

In [72]:
a, b = map(int,input("a b 숫자 사이공백으로 입력해주세요 : ").split(' '))

if (a>6 or b>6 or a<1 or b<1):
    print("둘중 하나가 6을 초과했습니다.")
elif (a > b):
    print("a:",a,"b:",b,"a의 승리 입니다!")
elif (a < b):
    print("b:",a,"b:",b,"b의 승리 입니다!")
else:
    print("a:",a,"b:",b,"비겼습니다!")

a b 숫자 사이공백으로 입력해주세요 : 1 3
b: 1 b: 3 b의 승리 입니다!

In [74]:
a = int(input('정육면체주사위굴리기'))
b = int(input('정육면체주사위굴리기'))
if (0<a<=6 and 0<b<=6):
    if a < b:
        print('a가 진다')
    elif a > b:
        print('a가 이긴다')
    elif a == b:
        print('비긴다')
else:
   print('다시')

정육면체주사위굴리기0
정육면체주사위굴리기2
다시

In [ ]:
a = int(input("a의 주사위 숫자는?"))
b = int(input("b의 주사위 숫자는?"))
if (1<=a<=6) and (1<=b<=6):
    print("잘못된 값을 입력했습니다.")
elif a > b:
    print("a가 {0}값으로 이겼습니다.(b는 {1})".format(a, b))
elif a < b:
    print("b가 {0}값으로 이겼습니다.(a는 {1})".format(b, a))
elif a == b:
    print("{0}값으로 비겼습니다.".format(a))
else:
    print("잘못된 값을 입력했습니다.")

### arr = [1, 2, 3] 실습 🧪
- arr 안에 1, 2, 3 중 어느 정수가 들어있으면 '참'
- 그렇지 않으면 '거짓' 을 출력하는 조건문을 만들어 본다.

In [82]:
arr=[1,2,3]
if (1 in arr) or (2 in arr) or (3 in arr) :
    print("참")
else :
    print("거짓")

숫자 입력 1 ~ 33
참