<a href="https://colab.research.google.com/github/ji-hun-choi/Baekjoon/blob/main/iTStudy/0317_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%884(%EB%B0%98%EB%B3%B5%EB%AC%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0. 복습

#### 1-1. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.

```
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
```

In [21]:
#1
#2
#4
if True : # if문 True 시작
    print ("1") # print(1) 출력
    print ("2") # print(2) 출력 후 if-else구문 탈출
else :             
    print("3")
print("4") # print(4) 출력 후 종료
 # True를 들어가 1과 2가 프린트 되고 여기서 if-else구문이 끝난다. 다음 4가 출력이 되며 종료된다

1
2
4


#### 1-2. 응답하라 1998
- 휴대폰 번호 앞자리에 따라 통신사가 아래와 같이 구분되던 시절이 있었습니다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성해보세요. 입력받을 때 '-'기호는 넣거나 말거나 영향을 미치지 않습니다.

- 힌트 : 

휴대전화번호 앞 3개 확인은 str도 배열(튜플)의 속성을 가지고 있다는 것을 활용합니다. 


~~~
번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

In [29]:
phone_num = input("핸드폰 번호를 입력하세요")

if phone_num[:2] != '01':
    print('핸드폰 번호를 잘 입력하세요.')
else :
    if ('1' or ' 6' or '9') in phone_num[2:3] :
        if phone_num[:3] == '011':
            print('SKT')
        elif phone_num[:3] == '016':
            print('KT')
        elif phone_num[:3] == '019':
            print('LGU')
    else :
        print('알수없음')

핸드폰 번호를 입력하세요011
SKT

#### 2-1. input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되도록 프로그래밍해주세요.

In [2]:
a = int(input())
if a >= 10:
    print('OK')
else:
    print('TRY AGAIN')

1
TRY AGAIN
-1
TRY AGAIN
11
OK

#### 2-2. while문과 input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되고 다시 입력창이 뜨도록 프로그래밍해주세요.

In [ ]:
while(True):
    a = int(input())
    if a >= 10:
        print('OK')
        break
    else:
        print('TRY AGAIN')

#### 3-1. 한영사전 만들기

아래의 fruits 딕셔너리를 참조하여 
- 사용자로부터 한글로 과일 이름을 입력받고
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 
- 없을 경우 '사전에 없는 단어입니다'를 출력하도록 프로그래밍하세요.
```
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [9]:
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

In [11]:
fruit_in = input('과일을 입력하세요 : ')

if fruit_in in fruits.keys() : # fruits의 키값에서 확인
    print(fruits[fruit_in]) # value 값 출력
else:
    print('사전에 없는 단어입니다.')

과일을 입력하세요자몽
사전에 없는 단어입니다.

#### 3-2. 한영사전 만들기 II
- 사용자가 입력한 과일이 
- fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 
- 없을 경우 '사전에 없는 단어입니다'를 출력 후 다시 입력창이 뜨도록 프로그래밍해주세요. 
- 사용자가 사전에 있는 과일 이름을 입력하면 프로그램은 자동 종료됩니다.

In [13]:
while(True):
    fruit_in = input('과일을 입력하세요 : ')

    if fruit_in in fruits.keys() :
        print(fruits[fruit_in])
        break
    else:
        print('사전에 없는 단어입니다.')

과일을 입력하세요 : 과일
사전에 없는 단어입니다.
과일을 입력하세요 : 사과
Apple

#### 4. 다음 코드를 for문으로 작성해 보세요.
~~~
a = 10
print(a)
a = 20
print(a)
a = 30
print(a)
~~~

In [14]:
a = [10, 20, 30]
for i in a:
    print(i)

10
20
30

5. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

In [15]:
for i in range(1,4):
    print(f'{i}번 끝')
    print("-------")

1번 끝
-------
2번 끝
-------
3번 끝
-------

#### 6. for 반복문과 조건문을 사용하여 아래의 리스트에서 음수만을 출력하세요.
~~~
list1 = [-2, 1, 4, -88, 12, -12]
~~~

In [16]:
list1 = [-2, 1, 4, -88, 12, -12]

In [17]:
for i in list1:
    if i < 0 :
        print(i, end=' ')

-2 -88 -12

#### 7-1. for와 range를 사용하여 1에서 40까지 숫자들 중 4의 배수만을 출력해보세요.

In [32]:
for i in range(0,41,4):
    if i > 0:
        print(i, end=" ")


# for i in range(1,41):
#     if i % 4 == 0 :
#         print(i, end=" ")

4 8 12 16 20 24 28 32 36 40 0 4 8 12 16 20 24 28 32 36 40

#### 7-2. for와 range를 사용하여 1에서 40까지 숫자들 중 4의 배수만을 거꾸로 출력해보세요.

In [36]:
for i in range(40,0,-4):
    print(i, end=" ")

40 36 32 28 24 20 16 12 8 4

### 반복문
- 중첩 반복문으로 1~9단을 직접 출력 해보았었다.
- while 문으로도 중첩이 가능할까?

### 중첩 while문으로 구구단 만들기

In [ ]:
i = 1
while(True):
    j = 1
    print(i,"단")
    while(True):
        print(i,"X",j,"=",i*j)
        j += 1
        if(j == 10):
            break
    print()
    i += 1
    if i == 10:
        break

In [47]:
# 가로 출력 참고.
i = 1
while i < 10:
    j = 2
    while j < 10:
        print(j,"x", i, "=", i*j, end = '\t')
        j += 1
    i += 1    
    
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# 수업

## dic + for문

In [4]:
sale = { '연필' : 500, '공책':1200, '신발':58000}

In [12]:
# ker and value
for k, v in sale.items():
    print(k, v)

연필 500
공책 1200
신발 58000

In [8]:
# key
for i in sale.keys():
    print(i)

연필
공책
신발

In [6]:
# value
for i in sale.values():
    print(i)

500
1200
58000

### 실습
- 봄맞이 세일을 한다.
- 뒤에 있는 값만 20 % 깍아서 출력한다.

In [1]:
sale1 = { '연필' : [500, 300], '공책': [1200, 2100], '신발':[58000, 2121000]}

In [11]:
print("sale1")
for _, v2 in sale1.values():
    print(round(v2*0.8))

print("sale")
for v1 in sale.values():
    print(round(v1*0.8))

sale1
240
1680
1696800
sale
400
960
46400

### 사용가능한 함수 찾기 dir

In [22]:
dir(sale1)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### 실습 아래 의 확장자가 exe이거나 py인 파일만을 찾아 출력하다

In [25]:
files = {'manage.py', 'run.exe', 'urls.py', 'run.bat','abc.avi'}
list1 = list()
for i in files:
    a,b = i.split('.')
    if(b == 'py' or b=='exe'):
        list1.append(a+'.'+b)
for j in list1:
    print(j)

run.exe
urls.py
manage.py

In [91]:
files = {'manage.py', 'run.exe', 'urls.py', 'run.bat','abc.avi'}
list1 = list()
for i in files:
    a = i.split('.')
    if(a[1] == 'py' or a[1]=='exe'):
        print(a[0]+'.'+a[1]+' \t파일을 찾앗습니다.')
for j in list1:
    print(j)

urls.py 	파일을 찾앗습니다.
manage.py 	파일을 찾앗습니다.
run.exe 	파일을 찾앗습니다.

## 실습 별찍기

### 별찍기 1
```
*
**
***
****
*****
```

In [52]:

while(True):
    for j in range(1,6):
        print('*'*j)
    break

*
**
***
****
*****

In [3]:
x = []
while(len(x)!=5):
    for j in range(1,6):
        x.append('*'*j)
for i in x:
    print(i)

*
**
***
****
*****

In [21]:
for i in range(5):
    for j in range(i+1):
        print('*', end="")
    print()

*
**
***
****
*****

### 별찍기 2
```
*
***
*****
*******
*********
```

In [5]:
while(True):
    for j in range(1,11):
        if j%2!=0 :
            print('*'*j)
    break

*
***
*****
*******
*********

In [6]:
x = []
while(len(x)!=5):
    for j in range(1,11):
        if j%2!=0 :
            x.append('*'*j)
for i in x:
    print(i)

*
***
*****
*******
*********

In [25]:
for i in range(5):
    for j in range(i*2+1):
        print('*', end="")
    print()

*
***
*****
*******
*********

### 별찍기 3
```
    *
   **
  ***
 ****
*****
```

In [7]:
while(True):
    for i in range(1, 5+1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        print("{}{}".format(j,y))
    break

    *
   **
  ***
 ****
*****

In [8]:
x = []
while(len(x)!=5):
    for i in range(1, 5+1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        x.append(j+y)
for i in x:
    print(i)

    *
   **
  ***
 ****
*****

In [30]:
for i in range(5):
    for j in range(5-i,-1,-1):
        print(" ", end="")
    for j in range(i,-1,-1):
        print('*', end="")
    print()

      *
     **
    ***
   ****
  *****

### 별찍기 4
```
*****
**** 
***  
**   
*    
```

In [10]:
while(True):
    for i in range(5,0,-1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        print("{}{}".format(y,j))
    break

*****
****
***
**
*

In [12]:
x = []
while(len(x)!=5):
    for i in range(5,0,-1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        x.append(y+j)
for i in x:
    print(i)

*****
****
***
**
*

In [36]:
for i in range(5):
    for j in range(4-i,-1,-1):
        print('*', end="")
    for j in range(i,-1,-1):
        print(" ", end="")
    print()

*****
****
***
**
*

### 별찍기 5
```
*****
 ****
  ***
   **
    *
```

In [40]:
while(True):
    for i in range(5,0,-1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        print("{}{}".format(j,y))
    break

*****
 ****
  ***
   **
    *

In [9]:
x = []
while(len(x)!=5):
    for i in range(5,0,-1):
        k = 5 - i
        j = " "*k
        y = "*"*i
        x.append(j+y)
for i in x:
    print(i)

*****
 ****
  ***
   **
    *

In [39]:
for i in range(5):
    for j in range(i):
        print(' ', end="")
    for j in range(4-i,-1,-1):
        print("*", end="")
    print()

*****
 ****
  ***
   **
    *

### 별찍기 6
```
    *
   ***
  *****
 *******
*********
```

In [11]:
while(True):
    k=1
    for i in range(4,-1,-1):
        j = " "*i
        y = "*"*k
        k+=2
                
        print("{}{}".format(j,y))
    break

    *
   ***
  *****
 *******
*********

In [13]:
x = []
while(len(x)!=5):
    k=1
    for i in range(4,-1,-1):
        j = " "*i
        y = "*"*k
        k+=2  
        x.append(j+y)
for i in x:
    print(i)

    *
   ***
  *****
 *******
*********

In [54]:
for i in range(5):
    for j in range(5-i,-1,-1):
        print(" ", end="")
    for j in range(i,-1,-1):
        print('*', end="")
    for j in range(i):
        print('*', end="")
    print()

      *
     ***
    *****
   *******
  *********

## 실습 for문과 if문 활용

- 숫자를 입력받아 이 수 사이의 숫자의 합을 구하기

In [59]:
num1 = int(input('숫자1 입력 : '))
num2 = int(input('숫자2 입력 : '))
result = 0
if num1 < num2 :
    for i in range(num1,num2+1):
        result+=i
    print(f'두수의 합은 : {result} 입니다')
else :
    for i in range(num2,num1+1):
        result+=i
    print(f'두수의 합은 : {result} 입니다')

숫자1 입력 : 16
숫자2 입력 : 15
두수의 합은 : 31 입니다

In [65]:
a, b = map(int,input().split(' '))

print(a<b)

1 9
True

## 실습 리스트 이름 확인
- input()으로 이름을 받고 이름 리스트에 해당하는 이름이 있는 경우 이름이 있음을  없음을 출력한다.

In [77]:
names = ['짱구', "짱아", "철이", "훈이"]
n1 = input()
if n1 in names:
    print(n1 + "의 이름이 있습니다!")
else:
    print(n1 + "의 이름이 없습니다!")

짱구
짱구의 이름이 있습니다!

## 실습2 리스트 이름 확인
- input()으로 이름을 받고 이름 리스트에 해당하는 이름이 있는 경우 이름이 있음을  없음을 출력한다.
- for 문안에서 flag 를 받아 if-else를 실행하여 이름이 있는지 확인한다.

In [83]:
names = ['짱구', "짱아", "철이", "훈이"]
n1 = input("name : ")
flag = False
for name in names:
    if n1 == name:
        flag = True
        break
    else:
        flag = False

if flag :
    print("이름이 있습니다")
else :
    print("이름이 없습니다.")

name : 짱구
이름이 있습니다